.Card {
  margin: 8px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #fafafa;
  width: 130px;
  padding-bottom: 20px;

  &-content {
    text-align: center;

    p {
      margin: 0;
      padding: 0;
    }
  }

  &-title {
    line-height: 10px;
    font-size: 17px;
    font-weight: 300;
  }

  &-image {
    display: block;
    left: 0;
    right: 0;
  }
}
